<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <br>
                <ul class="list-inline text-center">
                <% if (config.RSS) { %>
                    <li>
                        <a href="<%= config.root + 'feed.xml' %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.zhihu_username) { %>
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.weibo_username) { %>
                    <li>
                        <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.github_username) { %>
                    <li>
                        <a target="_blank"  href="https://github.com/<%= config.github_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; <%= config.title %> <%= new Date().getFullYear() %>
                    <br>
                    <span id="busuanzi_container_site_pv" style="font-size: 12px;">PV: <span id="busuanzi_value_site_pv"></span> Times</span>
                    <br>
                    Theme by <a href="https://haojen.github.io/">Haojen Ma</a>
                </p>

            </div>
        </div>
    </div>
	<div class="ant-back-top"><div class="ant-back-top-content"><i class="anticon anticon-to-top ant-back-top-icon">↑</i></div></div>
</footer>

<!-- jQuery -->
<script src="https://loadingmore-1254319003.cos.ap-chengdu.myqcloud.com/assets/jquery.min.js"></script>
<script src="https://loadingmore-1254319003.cos.ap-chengdu.myqcloud.com/assets/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<!-- Bootstrap Core JavaScript -->
<script src="https://loadingmore-1254319003.cos.ap-chengdu.myqcloud.com/assets/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    /*!
    * Clean Blog v1.0.0 (http://startbootstrap.com)
    * Copyright 2015 Start Bootstrap
    * Licensed under Apache 2.0 (https://github.com/IronSummitMedia/startbootstrap/blob/gh-pages/LICENSE)
    */

    // Tooltip Init
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });

    // backToTop
    $('.ant-back-top').on('click',function(){
        $('html, body').animate({scrollTop:0});
    })
    function _throttle(delay,times,callback){
        var startTime = (new Date()).getTime(),
            timer = null;
        return function(){
            var currTime = (new Date()).getTime(),
                that = this,
                args = arguments;
            clearTimeout(timer);
            if(currTime - startTime >= delay){
                callback.apply(that,args);
                startTime = currTime;
            }else{
                timer = setTimeout(function(){
                    callback.apply(that,args);
                },times)
            }
        }
    }
    var _target = $('.ant-back-top');
    var navBarRed = $('.navbar-custom__bar')
    $(window).scroll(_throttle(100,100,function(){
        var wHeihgt = $(window).height();
        var bHeight = $('body').height();
        var scrollTop = $(window).scrollTop();

        var ratio = Math.max(0, Math.min(1, (scrollTop / (bHeight - wHeihgt - 55)))) * 100;

        navBarRed.css({
            width: ratio + '%'
        })
        //console.log(scrollTop)
        if(scrollTop >= 500){
            _target.show();
        }else{
            _target.hide();
        }
    }))
    // make all images responsive
    /*
    * Unuse by Hux
    * actually only Portfolio-Pages can't use it and only post-img need it.
    * so I modify the _layout/post and CSS to make post-img responsive!
    */
    // $(function() {
    //  $("img").addClass("img-responsive");
    // });

    // responsive tables
    $(document).ready(function() {
        $("table").wrap("<div class='table-responsive'></div>");
        $("table").addClass("table");
    });

    // responsive embed videos
    $(document).ready(function () {
        $('iframe[src*="youtube.com"]').wrap('<div class="embed-responsive embed-responsive-16by9"></div>');
        $('iframe[src*="youtube.com"]').addClass('embed-responsive-item');
        $('iframe[src*="vimeo.com"]').wrap('<div class="embed-responsive embed-responsive-16by9"></div>');
        $('iframe[src*="vimeo.com"]').addClass('embed-responsive-item');
    });

    // 判断是不是博文页面
    function isPages(attr){
        var currentBoolean = document.querySelector('.navbar.navbar-custom').getAttribute(attr);
        if(currentBoolean === 'true'){return true;}
        return false;
    }
    /*
        滚动函数
        接收三个参数,
            1 接收一个DOM对象
            2 给目标对象切换class
            3 触发的高度 (可选项,如果不指定高度,会将DOM的高度作为触发高度)
    */
    function scrollCheck(scrollTarget, toggleClass, scrollHeight){
        document.addEventListener('scroll',function(){
        var currentTop = window.pageYOffset;
            currentTop > (scrollHeight||scrollTarget.clientHeight)
            ?scrollTarget.classList.add(toggleClass)
            :scrollTarget.classList.remove(toggleClass)
        })
    }

    //主页
    (function(){
        if(!isPages('data-ispost')){
            var navbar = document.querySelector('.navbar.navbar-custom')
            navbar.classList.add('is-fixed');
        }

    })();

    /*
    * 先获取H1标签
    * 然后滚动出现固定导航条后
    * 将其内容放到上面居中显示
    * */

    /*
        博文页面
    */
    (function(){
        if (isPages('data-ispost')){
            var navbar = document.querySelector('.navbar-custom');
            var introHeader = document.querySelector('.intro-header').offsetHeight;
            var introHeader = introHeader > 497 ? introHeader : 400;
            var toc = document.querySelector('.toc-wrap');
            var postTitle = document.querySelector('.post-title-haojen');
            scrollCheck(toc,'toc-fixed',introHeader-60);
            scrollCheck(navbar,'is-fixed');
            scrollCheck(postTitle,'post-title-fixed',introHeader-60);
        }
    })();

    (function () {
        var navTop = document.querySelector('#nav-top');
        navTop.ondblclick = function () {
            $('body').animate({
                scrollTop: 0
            }, 500)
        }
    })();
</script>

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async("https://loadingmore-1254319003.cos.ap-chengdu.myqcloud.com/assets/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>

<!--fastClick.js -->
<script>
    async("https://loadingmore-1254319003.cos.ap-chengdu.myqcloud.com/assets/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>

<!-- Google Analytics -->

<% if (config.ga_track_id) { %>
<script>
    // dynamic User by Hux
    var _gaId = '<%= config.ga_track_id %>';
    var _gaDomain = '<%- config.ga_domain || "auto" %>';
    // Originial
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', _gaId, _gaDomain);
    ga('send', 'pageview');
</script>
<% } %>

<!-- Baidu Tongji -->
<% if (config.ba_track_id) { %>
<script>
    var _baId = '<%= config.ba_track_id %>';
    // Originial
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?" + _baId;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>

<script async src="https://loadingmore-1254319003.cos.ap-chengdu.myqcloud.com/assets/busuanzi.pure.mini.js"></script>
